body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.image-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

#skinfoldImage {
    max-width: 100%;
    height: auto;
    display: block;
}

/* SVG Dot Styling */
.skinfold-dot {
    fill: rgba(255, 0, 0, 0.7);
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 0.3%;
    cursor: pointer;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.skinfold-dot:hover {
    fill: rgba(255, 0, 0, 1);
    stroke: rgba(255, 255, 255, 1);
}

.skinfold-dot.skinfold-dot-selected {
    fill: teal;
    stroke: none;
}

/* Ensure SVG overlays image correctly */
#skinfoldDots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

area:hover {
    cursor: pointer;
}

.info-display-area {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1.25rem;
    margin-top: 1.25rem;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0.125rem 0.625rem rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.info-display-area h2 {
    margin-top: 0;
    color: #35424a;
    font-size: 1.5rem;
}

#infoContent ul {
    list-style-type: disc;
    padding-left: 1.25rem;
}

#infoContent li {
    margin-bottom: 0.625rem;
}

#closeButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.9375rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

#closeButton:hover {
    background-color: #c0392b;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}